*{
    padding: 0%;
margin: 0%;
box-sizing: border-box;

}
.main {
    background-color: rgb(152 184 187);
    width: 100%;
    height: 150vh;
    display: flex;
    flex-direction: column;
}
.nav {
    border: solid;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image:linear-gradient( 45deg,violet ,rgb(249, 183, 16),rgb(249, 165, 226));
    position: fixed;
}
.one {
    height: 70%;
    width: 20%;
    /* border: solid; */
    padding: 2px;
color:#587078;
font-size: 35px;
font-weight: bolder;
display: flex;
justify-content: center;
align-items: center;
font-family: 'Times New Roman', Times, serif;
}
button{text-decoration: none;}



.one:hover{
    color: rgb(255, 30, 0);
    font-weight: 300;
}
.two{
    height:70%;
    width: 60%;
/* border: solid; */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}
 .two p{
    font-size: 20px;
    color: #333;
    text-decoration: none;
    transition: 0.3s ease;
 }
 .two p:hover{
    color: rgb(255, 30, 0);
    font-size: 30px;
 }
 .search{
    display: flex;
    align-items: center;
    margin-right: 0;
 }
 .search form{
    display: flex;
    margin: 0;
 }
 .search input{
    padding: 10px;
    border: 1px solid #ddd;
    outline: none;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
 }
  .search input:hover{
    border: 1px solid rgb(255, 30, 0);
  }
.search button{
    padding: 10px;
    background-color: #7efc84;
    border: none;
    border-radius: 5px;
    color: #333;
    font-size: 19px;
    cursor: pointer;
}
.search button:hover{
    background-color: #ccc;
}
.A-section{
    border: solid;
height: 40vh;
width: 25%;
opacity: 80%;
margin: 90px;
}
.A-section{
    position: fixed;
left: 20px;

color:white ;
}
.A-section:hover{
    color: rgb(246, 246, 8);
    /* position: fixed; */
}
h1{
font-size: 55px;
/* position: fixed; */
}
h5{
    font-size: 19px;
}

.master{
    height: 80%;
width: 100%;
border: solid;
margin: 2px;
display: flex;
justify-content:flex-end;
align-items: center;


}
.B-section{
    height: 100%;
width:80%;
border: solid;
/* background-color: bisque; */
/* position: absolute; */
left: 250px;
background-image: url(./gh.png)
/* background-repeat: no-repeat; */
/* background-size: cover; */

}

.order{
    font-size: 25px;
    height: 100px;
    color: rgb(190, 245, 203);
    border: solid pink;

    width: 150px;
    border: solid;
    border-radius: 250%;
display: flex;
justify-content: center;
align-items: center;
position: absolute;
left: 82%;
top: 100%;

animation: animate 1s infinite linear;
background-image: linear-gradient(45deg,rgb(243, 200, 200),rgb(200, 200, 252),rgb(177, 241, 177),rgb(253, 216, 146),aqua,pink,brown);
}
@keyframes animate{
    0%
}
.order:hover{
font: size 33px;
}

.one p:hover{
    /* background-color:aqua; */
    
}